@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
    .customResult {
        flex-direction: column;
        font-size: x-small;
        padding: 0;
    }
    
}